html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  display: table;
}

#container
{
  display: table-row;
}

#sidebar {
  background-color: #eee;
  height: 100%;
  padding: 1vw;
  width: 20%;
  display: table-cell;
  margin-top: 0;
  overflow: scroll;
}

#viewer {
  background-color: #ccc;
  display: table-cell;
}

#panel {
  width: 80%;
  height: 100%;
}

#viewer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}