html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
 
}

#container
{
  height: 100vh;
}

.CodeMirror {
  height: 39vh;
}

#sidebar {
  background-color: #eee;
  height: 100%;
  padding: 1vw;
  width: 27.5vw;
  margin-top: 0;
  
  float: left;
}

#viewer {
  float: none;
  width: auto;
  height: 100%;
  overflow: hidden;
  background-color: orange;
}

#viewer_canvas {
  background-color: #ccc;
  /*display: table-cell;*/
  
}


#viewer_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}